*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../img/download\ \(1\).png");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 40px; 
    color:#8ABE53;
    background-color: rgba(0,0,0,.5);
    position:fixed;
    width: 100%;
    z-index: 100;
    text-transform: uppercase;
    font-size: large;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
#nav-ico{
    display: none;
}

.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style: none;
    /* padding: 0px 40px; */
    margin:0px 40px;
    /* padding: 0px 20px; */
}
.nav-menu ul li:hover{
    cursor:pointer;
    color: #EEF85B;
    transform: scaleX(20deg);
    transition:5s ease;
    /* background-color: rgba(255,255,255,.5); */
}
.nav-menu ul li::after{
    content:"";
    display: block;
    width: 0px;
    height: 5px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;

}
.nav-menu ul li:hover::after{
    width: 100%;
    background: #EEF85B;
}
.search{
    display: flex;
    justify-content: space-between;
    /* font-family: 'Roboto', sans-serif; */
}
.search i{
    padding: 0px 20px;
}

/*                                                banner part                                     */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading{
    width: 70%;
    padding: 250px 40px;
}
.heading h1{
    font-size: 80px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(-50deg, #023619 20%,#269b64 35%,#052401 60%,#EEF85B  93%);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 1000px 0;
    animation: backcolor 2s linear infinite alternate;
    -webkit-text-stroke: 1pt rgb(2, 54, 4);
    /* -webkit-text-stroke: 2px ; */
    /* background: -webkit-linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #035327 91%); */
    /* -webkit-text-fill-color: transparent; */
}
@keyframes backcolor{
    100%{
        background-position: 0 0;
    }
}

.heading p{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 30px;
    background: linear-gradient(-50deg, #023619 20%,#269b64 35%,#052401 60%,#EEF85B  93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heading button{
    background: rgba(255,255,255,.3);
    border: 2px solid white;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.heading button:hover{
    cursor: pointer;
    border: 3px dotted rgb(2, 54, 4);
    background:rgb(255, 255, 255);
    color:rgb(2, 54, 4);
}

.img img{
    position:absolute;
    top:500px;
    right:200px;
    height:300px;
}


/*                                                         sanctuary part                        */
.sanctuary{
    margin: 100px;
    height: 650px;
}
.sanc-part1{
    justify-content: center;
    text-align: center;
    padding: 0px 100px;
}
.sanc-part1 h3{
    padding-bottom: 40px;
    font-size: 30px;
    text-transform: uppercase;
}
.sanc-part1 p{
    font-size: 20px;
}
.sanc-part2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
.card{
    margin: 0px 20px;
    height: 400px;
    box-shadow: 0px 0px 20px 5px rgb(1, 16, 87);
    border-radius: 20px;
}
.card img{
    width: 250px;
}
.card h5{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(1, 16, 87);
}
.card p{
    padding-top: 30px;
    font-size: 18px;
}
.card button{
    margin-top: 20px;
    background: rgb(1, 16, 87);
    padding: 8px 15px;
    font-size: 15px;
    font-weight: bolder;
    color:#fff;
    border-radius:30px;
}


/*                                                    jungle-ride                                */
.row1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px;
}
.container{
    /* background-color: rgba(255,255,255,.2); */
    width: 100%;
    margin: 0px;
    height: 600px;
}
.jungle-ride{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/vlad-hilitanu-pt7QzB4ZLWw-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
}
#j-r-p1-h4{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    /* position: absolute;
    top: 1990px;
    left: 150px;  */
}
/* #j-r-p1-h4:hover{
    transform: rotate(-45deg);
    transition: 2s ease-in;
} */
#j-r-p1-p{
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 10px;
    /* position: absolute; */
    color: #fff;
}
.j-r-part1:hover{
    transform: rotate(-45deg);
    transition: 2s ease-in;
    font-family: 'Caprasimo', cursive;
    font-weight: 700;
}
.j-r-part1{
    /* background-color: rgba(255,255,255,.3); */
    max-width: 30%;
    padding: 30px;
    text-align: center;
    align-content: center;
}
/* .fas{
    font-size: 300px;
    width: 200px;
    position: relative;
} */
.j-r-part2{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
.crd{
    /* background-color: rgba(255,255,255,.2); */
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    width: 230px;
    margin: 10px;
    height: 350px;
    box-shadow: 0px 0px 10px 0px #fff;
}
#h4{
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 20px;
    color: rgb(240, 255, 34)
}
#j-r-p2-p1{
    font-size: 15px;
    color: #99d15e;
    padding: 10px 40px;
    text-transform: uppercase;
}
#j-r-p2-p2{
    font-size: 15px;
    color: #EEF85B;
    padding: 10px 20px;
    text-transform: capitalize;
}
#j-r-p2-price{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;  
    color: #fff;   
    padding: 10px 0px;

}
.crd p span{
    color: rgb(255, 255, 255);
    text-decoration: line-through;
}
.crd .btn{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    border: 2px solid #fff;
    background:none;
    color: #EEF85B;
    margin: 10px;
}
/*                                                                     review                                                 */
video{
    width: 100%;
    position: absolute;
    /* background-color: rgba(255,255,255,.2); */
    z-index: -10;
}

/*                                                                   form part                                                */
.myform{
    background: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)),url("../img/stefan-kunze-w4dMKHulKDg-unsplash.jpg") 50% 0 repeat-y fixed;
    /* background-color: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)); */
    /* background-repeat: repeat-y; */
    background-size: cover;
    /* background-position: center center; */
    position: relative;
    /* align-content: center; */
    /* text-align: center; */
}
.form1{
    padding: 200px 300px;
    /* width:500px ; */
}
.form1 input{
    padding: 10px;
    outline: none;
    border: none;
}
.form1 .f-n1{
    display: flex;
    justify-content: space-evenly;
}
.form1 .f-n1 input{
    margin:0px 20px 20px 0px;
    width: 100%;
}
.form1 .f-n2 input{
    margin:0px 20px 20px 0px;
    justify-content: space-evenly;
    width: 100%;
}
.form1 .f-n3{

    justify-content: left;
    align-items: start;
    text-align: left;
}
.form1 .f-n3 input{
    justify-content: left;
    align-items: start;
}
.form1 .f-n3 input{
    margin-top: 20px;
}
.form1 .f-n3 .l1{
    padding: 0px 20px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 800;
}
#f-n3-l{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 800;
}
.form1 .btn button{
    padding: 10px 20px ;
    margin: 20px 10px;
    background: rgba(255,255,255,0.3);
    border:2px solid #fff;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}



/*                                                                    footer part                                           */
.footer{
    color: #fff;
    height: 700px;
    background-color: #180000;
}
.footer .row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}
.ft-part1{
    width: 40%;
    padding: 50px 60px;
}
.ft-part1 h5{
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.ft-part1 p{
    font-size: 18px;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.ft-part1 .s-media{
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    color:#180000 !important ;
    align-content: center;
    text-align: center;
    padding-bottom: 20px;
}
.ft-part1 .s-media .back{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    padding-top: 8px;
}
.ft-part2{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
.ft-part2 ul li{
    list-style: none;
    text-transform: capitalize;
    padding-top: 20px;
}
.ft-part2 h5{
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 30px;

}
.ft-part2 .loc{
    padding-top: 10px;
}

@media(max-width:1300px){
    .navbar{
        padding: 10px 20px;
    }
    .nav-menu ul li{
        margin: 0px 20px;
    }
}
@media(max-width:1000px){
    .navbar{
        padding: 10px 10px;
    }

    .header .navbar .nav-menu ul{
        display: none;
        /* display:block; */
        background: #180000;
        position: absolute;
        top: 100%;
        left:0;
        height:calc(100vh-9.5rem);
        z-index: 1000;
        width: 50%;
        border-bottom: 2px solid #EEF85B;
        
    }
    ul li{
        margin: 20px 10px;
        display: block;
        padding: 10px 0px;
    }
    .show{
        display: block;
    }
    /* .nav-menu ul .active{
        display: block;
        right: 200px;
        background: #180000;
    } */
    #nav-ico{
        display: block;
    }
    .card{
        margin: 20px 0px;
        width: 20rem;
    }
    .card img{
        width: 20rem;
    }
    .sanc-part2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
    }
    .sanctuary{
        margin: 100px;
        height: 2000px;
    }
    .jungle-ride{
        height: 1500px;
    }
    .row1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0px;
    }
    .j-r-part2{
        width: 70%;
        display: flex;
        justify-content: space-evenly;
    }

}

/* .swiper {
    width: 300px;
    height: 300px;
    padding: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  } */
  .response{
    display: flex;
    align-items: center;
    align-content: center;
    /* text-align: center; */
  }
  .swiper {
    margin: 100px auto;
    width: 320px;
    height: 240px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0px 0px 10px 0px #fff;
  }

  .swiper-slide:nth-child(1n) {
    background-color:transparent;
    
  }

  .swiper-slide:nth-child(2n) {
    background-color:transparent;
  }

  .swiper-slide:nth-child(3n) {
    background-color:transparent;
  }